.social__text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts__cross-title, .portfolio__cross-title, .masters__cross-title, .features__cross-title, .prices__cross-title, .about-us__cross-title, .hero__cross-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .contacts__cross-title, .portfolio__cross-title, .masters__cross-title, .features__cross-title, .prices__cross-title, .about-us__cross-title, .hero__cross-title {
    margin-left: 80px;
    position: relative;
  }
}
@media screen and (min-width: 480px) {
  .contacts__cross-title::before, .portfolio__cross-title::before, .masters__cross-title::before, .features__cross-title::before, .prices__cross-title::before, .about-us__cross-title::before, .hero__cross-title::before {
    position: absolute;
    left: -80px;
    top: 6.5px;
    content: "";
    width: 60px;
    height: 1px;
    background: currentColor;
  }
}
.hero .contacts__cross-title::before, .hero .portfolio__cross-title::before, .hero .masters__cross-title::before, .hero .features__cross-title::before, .hero .prices__cross-title::before, .hero .about-us__cross-title::before, .hero .hero__cross-title::before {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__title, .form__title, .masters__title, .features__title, .prices__title, .about-us__title, .hero__title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.about-us__tagline, .hero__tagline {
  font-size: 16px;
  line-height: 1.62;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
address {
  margin: 0px;
  padding: 0px;
}

address {
  font-style: inherit;
}

.page {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  background-color: #ffffff;
}

.container {
  padding: 0px 31px;
  margin: 0px auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding: 0px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0px 55px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  background-color: transparent;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}

.logo {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 61px;
    margin-left: 10px;
    color: #303030;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-left: 52px;
    margin-right: 70px;
  }
}
.logo:hover, .logo:focus {
  color: #ff6c00;
}

.logo__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    width: 690px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    width: initial;
    justify-content: flex-start;
  }
}

.menu__mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__overlay.is-open {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.2);
  z-index: 29;
}

.menu__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
    height: 100vh;
    flex-direction: column;
    padding: 48px 31px 48px 40px;
    z-index: 30;
    color: #303030;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    width: initial;
    height: initial;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .menu__container {
    gap: 260px;
  }
}
.menu__overlay.is-open .menu__container {
  transform: translateY(0);
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover, .menu__button:focus {
  color: #ff6c00;
}

.menu__button--open {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu__button--open {
    display: none;
  }
}

.menu__button--close {
  align-self: end;
  margin-bottom: 30px;
}

.menu__icon {
  fill: currentColor;
}

.menu__list {
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
    gap: 24px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .menu__list {
    gap: 40px;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.menu__link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #ff6c00;
}
.navigation + .menu__link {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .navigation + .menu__link {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navigation + .menu__link:first-of-type {
    position: absolute;
    right: 20px;
    top: 70px;
  }
}

.site-social {
  color: #303030;
}
.header .site-social {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .header .site-social {
    position: absolute;
    flex-direction: row;
    gap: 40px;
    top: 450px;
    left: -100px;
    transform: rotate(-90deg);
  }
}
@media screen and (min-width: 1280px) {
  .header .site-social {
    left: -70px;
  }
}
.footer .site-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer .site-social {
    margin-bottom: 0;
  }
}

.site-social__item {
  display: inline-block;
}
@media screen and (min-width: 480px) {
  .site-social__item:first-child {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .header .site-social__item:not(:first-child) {
    margin-left: 100px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .header .site-social__item:not(:first-child) {
    margin-left: 0;
  }
}
@media screen and (min-width: 480px) {
  .site-social__item:first-child::before {
    margin-right: 40px;
    content: "";
    width: 60px;
    height: 1px;
    background: currentColor;
  }
}
.site-social__item:not(:last-child) {
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .site-social__item:not(:last-child) {
    margin-right: 0;
  }
}

.site-social__link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-social__link:hover, .site-social__link:focus {
  color: #ff6c00;
}

.online-subscription {
  display: inline-block;
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #303030;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-subscription:hover, .online-subscription:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.menu .online-subscription {
  width: 194px;
  margin-bottom: 64px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu .online-subscription {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 165px;
    height: 40px;
    margin-bottom: 0;
    padding: 12px 20px;
    color: #ffffff;
  }
}
.prices .online-subscription {
  display: inline-block;
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prices .online-subscription:hover, .prices .online-subscription:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.carousel {
  width: 480px;
  height: 580px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .carousel {
    width: 577px;
    height: 680px;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .carousel {
    width: 1073px;
    height: 680px;
  }
}

.carousel__image {
  width: 100%;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel__item {
  position: absolute;
  display: none;
}

.carousel__item_main {
  display: block;
}

.carousel__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .carousel__button {
    display: block;
    position: absolute;
    padding: 0px;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    border: none;
    border-bottom: 1px solid currentColor;
    color: rgba(157, 164, 189, 0.6);
    background-color: transparent;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .carousel__button:hover, .carousel__button:focus {
    color: #ffffff;
  }
}

.carousel__button_previous {
  right: 120px;
  bottom: 34px;
  z-index: 10;
}

.carousel__button_next {
  right: 34px;
  bottom: 34px;
  z-index: 10;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.sections__background {
  background-color: #191c26;
}

@media screen and (min-width: 1280px) {
  .sections__wrapper {
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.hero {
  position: relative;
  min-height: 580px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 680px;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    width: 1280px;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 208px;
  background-color: rgba(25, 28, 38, 0.2);
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    padding-top: 280px;
    background-color: initial;
  }
}

.hero__caption {
  width: 306px;
}
@media screen and (min-width: 768px) {
  .hero__caption {
    margin-left: 223px;
  }
}

.hero__cross-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  color: #ffffff;
  font-size: 48px;
  line-height: 1.17;
}

.hero__tagline {
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .about-us__wrapper {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us__wrapper {
    gap: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__images {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about-us__image {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-us__image {
    display: block;
    width: 330px;
    height: 235px;
  }
  .about-us__image:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .about-us__image:not(:last-of-type) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-us__image {
    width: 270px;
    height: 445px;
  }
}

.about-us__cross-title {
  color: #303030;
}

.about-us__title {
  color: #303030;
}
@media screen and (min-width: 1280px) {
  .about-us__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about-us__tagline {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about-us__tagline {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-us__text {
  margin-bottom: 40px;
}

.prices {
  background-color: #111319;
  background-image: url(../images/prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices@2x.png);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .prices {
    background-image: url(../images/prices@3x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/prices-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-tab@2x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .prices {
    background-image: url(../images/prices-tab@3x.png);
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    background-image: url(../images/prices-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .prices {
    background-image: url(../images/prices-desktop@3x.png);
  }
}

.prices__cross-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.67;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .prices__title {
    line-height: 1.17;
  }
}

.prices__tables {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1280px) {
  .prices__tables {
    display: flex;
    background: initial;
  }
}

.prices__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #9da4bd;
}
@media screen and (min-width: 1280px) {
  .prices__list {
    width: 585px;
    height: 240px;
  }
}
.prices__list:first-of-type {
  padding: 30px 30px 20px 30px;
}
@media screen and (min-width: 1280px) {
  .prices__list:first-of-type {
    padding: 30px 40px 30px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.prices__list:last-of-type {
  margin-bottom: 50px;
  padding: 0 30px 30px 30px;
}
@media screen and (min-width: 1280px) {
  .prices__list:last-of-type {
    padding: 30px 40px 30px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices__item {
  font-size: 14px;
  line-height: 2.14;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (min-width: 480px) {
  .prices__item::before {
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    content: "";
    background-color: rgba(157, 164, 189, 0.12);
  }
}
@media screen and (min-width: 768px) {
  .prices__item {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (max-width: 479px) {
  .prices__text {
    margin-right: 10px;
  }
}
@media screen and (min-width: 480px) {
  .prices__text {
    white-space: nowrap;
    order: -1;
  }
}

@media screen and (min-width: 480px) {
  .prices__value {
    white-space: nowrap;
  }
}

.prices__subscription {
  display: flex;
  justify-content: center;
}

.features {
  color: #303030;
}

@media screen and (min-width: 1280px) {
  .features__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
  }
}

@media screen and (min-width: 1280px) {
  .features__description {
    width: 570px;
  }
}

.features__title {
  font-size: 42px;
  line-height: 1.17;
}

.features__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  color: #555555;
}

@media screen and (min-width: 480px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .features__list {
    width: 370px;
    margin-left: 0;
  }
}

.features__item {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: calc((100% - ((2 - 1) * 30px)) / 2);
  max-height: 133px;
  padding: 20px 30px;
  text-align: center;
  line-height: 1.36;
  background-color: #f7f7f7;
}
@media screen and (max-width: 479px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item:nth-child(2n) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 210px;
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .features__item {
    width: 170px;
    height: 133px;
    padding: 15px;
  }
}

.features__value {
  display: inline-flex;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
}
.features__value::after {
  margin-top: 8px;
  vertical-align: text-top;
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.features__caption {
  font-weight: 600;
  font-size: 11px;
}

.masters {
  color: #303030;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .masters__cross-title {
    margin-left: 120px;
  }
}

.masters__title {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .masters__title {
    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .masters__list {
    display: flex;
    gap: 30px;
  }
}

.masters__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1280px) {
  .masters__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.masters__image {
  width: 418px;
}
@media screen and (min-width: 768px) {
  .masters__image {
    display: block;
    width: 450px;
    height: 346px;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
  }
}
@media screen and (min-width: 1280px) {
  .masters__image {
    width: 370px;
    height: 346px;
  }
}

.masters__caption {
  padding: 30px 30px 0px 30px;
  text-align: center;
}

.masters__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
}

.masters__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  color: #ff6c00;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #303030;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #ff6c00;
}

.social__icon {
  fill: currentColor;
}

.portfolio__cross-title {
  margin-bottom: 44px;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.appointment {
  color: #ffffff;
  background-color: #191c26;
}
@media screen and (min-width: 1280px) {
  .appointment.section {
    width: 640px;
  }
}

.form {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form {
    text-align: initial;
  }
}

.form__title {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .form__fields {
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
  }
}

.form__field {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form__field {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .form__field {
    width: 265px;
  }
}
@media screen and (max-width: 767px) {
  .form__field:not(:last-of-type) {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 767px) {
  .form__field:last-of-type {
    margin-bottom: 44px;
  }
}
.form__field:focus-within {
  border-bottom: 1px solid #ffffff;
}

.form__label, .form__comments::placeholder {
  margin-right: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__label, .form__field:focus-within .form__comments::placeholder {
  color: #ffffff;
}

.form__input {
  flex-grow: 1;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

.form__comments {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .form__comments {
    width: 560px;
  }
}
.form__comments:focus-within {
  border-bottom: 1px solid #ffffff;
}

.button {
  display: inline-block;
  padding: 11px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
@media screen and (min-width: 480px) {
  .button {
    width: 160px;
  }
}

.contacts {
  background-color: #191c26;
  background-image: url(../images/contacts.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts@2x.png);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .contacts {
    background-image: url(../images/contacts@3x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: url(../images/contacts-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-tab@2x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .contacts {
    background-image: url(../images/contacts-tab@3x.png);
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(../images/contacts-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .contacts {
    background-image: url(../images/contacts-desktop@3x.png);
  }
}
@media screen and (min-width: 1280px) {
  .contacts.section {
    width: 640px;
    margin: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .container {
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__wrapper {
    display: flex;
    gap: 30px;
  }
}

.contacts__cross-title {
  color: #ffffff;
}
.contacts__cross-title::before {
  color: rgba(157, 164, 189, 0.4);
}

.contacts__title {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: initial;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__title {
    line-height: 1.17;
  }
}

.contacts__list {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__list {
    margin-bottom: 70px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__address {
    width: 230px;
  }
}

.contacts__icon {
  display: block;
  stroke: currentColor;
  fill: transparent;
}

.contacts__link_email {
  text-decoration: underline;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 57px;
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */