.contacts {
  background-color: $background-color-dark;
  background-image: url(../images/contacts.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.67;
  color: $secondary-text-color;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/contacts@2x.png);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/contacts@3x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/contacts-tab.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts-tab@2x.png);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/contacts-tab@3x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts-desktop.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts-desktop@2x.png);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/contacts-desktop@3x.png);
    }
  }

  &.section {
    @media screen and (min-width: 1280px) {
      width: 640px;
      margin: 0;
    }
  }

  & .container {
    @media screen and (min-width: 1280px) {
      padding-left: 100px;
    }
  }
}

.contacts__wrapper {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    gap: 30px;
  }
}

.contacts__cross-title {
  @extend %cross-title;
  color: $white-color;

  &::before {
    color: $form-text-color;
  }
}

.contacts__title {
  @extend %title;
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.67;
  text-align: center;
  color: $white-color;

  @media screen and (min-width: 768px) {
    text-align: initial;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.17;
  }
}

.contacts__list {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 16px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__address {
  @media screen and (min-width: 768px) {
    width: 230px;
  }
}

.contacts__icon {
  display: block;
  stroke: currentColor;
  fill: transparent;
}

.contacts__link_email {
  text-decoration: underline;
}
