.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $secondary-text-color;
  background-color: $background-color-light;

  @media screen and (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 57px;
    padding-bottom: 55px;
  }
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
