.hero__cross-title {
  @extend %cross-title;
  color: $secondary-title-color;
}

.hero__title {
  @extend %title;
  color: $header-color;
}

.hero__tagline {
  @extend %tagline;
  color: $secondary-text-color;
}
