.carousel {
  width: 480px;
  height: 580px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: 400ms $timing-function;

  @media screen and (min-width: 768) {
    width: 577px;
    height: 680px;
  }

  @media screen and (min-width: 1280px) {
    width: 1073px;
    height: 680px;
  }
}

.carousel__image {
  width: 100%;
  transition: 400ms $timing-function;
}

.carousel__item {
  position: absolute;
  display: none;
}

.carousel__item_main {
  display: block;
}

.carousel__button {
  position: absolute;
  padding: 0px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid currentColor;
  color: $secondary-title-color;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $white-color;
  }
}

.carousel__button_previous {
  right: 120px;
  bottom: 34px;
  z-index: 10;
}

.carousel__button_next {
  right: 34px;
  bottom: 34px;
  z-index: 10;
  text-align: right;
}
