.form {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: initial;
  }
}

.form__title {
  @extend %title;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.form__fields {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
  }
}

.form__field {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $form-text-color;
  transition: border-bottom 250ms $timing-function;
  
  @media screen and (min-width: 768px) {
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    width: 265px;
  }

  &:not(:last-of-type) {
    @media screen and (max-width: 767px) {
      margin-bottom: 34px;
    }
  }

  &:last-of-type {
    @media screen and (max-width: 767px) {
      margin-bottom: 44px;
    }
  }

  &:focus-within {
    border-bottom: 1px solid $white-color;
  }
}

.form__label {
  margin-right: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $form-text-color;
  transition: color 250ms $timing-function;

  .form__field:focus-within & {
    color: $white-color;
  }
}

.form__input {
  flex-grow: 1;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  border: none;
  outline: none;
  color: $white-color;
  background-color: transparent;
}

.form__comments {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.39;
  color: $white-color;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $form-text-color;
  outline: none;
  transition: border-bottom 250ms $timing-function;

  @media screen and (min-width: 1280px) {
    width: 560px;
  }

  &::placeholder {
    @extend .form__label;
  }

  &:focus-within {
    border-bottom: 1px solid $white-color;
  }
}
