.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.sections__background {
  background-color: $background-color-dark;
}

.sections__wrapper {
  @media screen and (min-width: 1280px) {
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}