.site-social {
  color: $title-color;

  .footer & {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
  }
}

.site-social__item {
  display: inline-block;

  &:first-child {
    @media screen and (min-width: 480px) {
      display: flex;
      align-items: center;
    }
  }

  &:first-child::before {
    @media screen and (min-width: 480px) {
      margin-right: 40px;
      content: '';
      width: 60px;
      height: 1px;
      background: currentColor;
    }
  }

  &:not(:last-child) {
    margin-right: 40px;
  }
}
