%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%button {
  min-width: 200px;
  padding: 10px 0px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: $white-color;
  background-color: $accent-color;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms $timing-function;
  // &:hover,
  // &:focus {
  //   background-color: $hero-btn-accent-color;
  // }
}

%cross-title {
  margin-left: 80px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;

  &::before {
    position: absolute;
    left: -80px;
    top: 7px;
    content: '';
    width: 60px;
    height: 1px;
    background: currentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

%title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

%tagline {
  font-size: 16px;
  line-height: 1.62;
}

%text {
  font-size: 14px;
  line-height: 1.86;
}
